/*Content Kit, for all your content needs*/ 
#mainBodyContent{
	margin-top: 125px;
	line-height: 1.7;
	width: 90vw;
	padding-left: 5vw;
	padding-right: 5vw;
	text-align: center;
	height: 40%;
}
#mainBodyContent h1{
	font-size: 40px;
}
#mainBodyContent p {
	font-size: 25px;
}
#mainBodyContent button {
	width: 30%;
	height: 50px;
	border-radius: 25px;
	font-size: 40px;
	background-color: white;
	border: none;
	color: white;
	background-color:rgb(20,20,20);
	transition: 1s;
}
#mainBodyContent button:hover {
	background-color:gold;
	border: none;
	color: black;
}

#mainContactContent{
	margin-top: 125px;
	line-height: 1.7;
	width: 90vw;
	padding-left: 5vw;
	padding-right: 5vw;
	text-align: left;
	height: 40%;
}
#mainContactParagraph{
	font-size: 20px;
}
@media screen and (max-width: 600px) {
  #mainBodyContent button{
  	height: auto;
  	width: auto;
  	padding: 15px;
  }
}