@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body{
	overflow-x: hidden;
	font-family: "Josefin Sans", serif;
	color: white;
	background-color: black;
	text-decoration: none;
	background-image: linear-gradient(180deg, #020024 0%, #090979 32%, #00d4ff 96%, #007513 100%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	padding: none;
	margin: none;

}
a{
	text-decoration: none;
}
#navbar{
width: 100%;
height: 40px;
position: fixed;
top: 0;
left: 0;
background-color: rgba(0,0,0,0.4);
z-index: 200;
transition: 0.5s;
}
.navImg{
	display: inline-block;
	width: 40px;
	float: right;
}
.navLink{
	display: inline-block;
	float: left;
	width: 18.79%;
	height: 100%;
	text-align: center;
	position: relative;
	transition: 0.25s;
	color: white;
}
.navLink:hover{
	color: black;
	background-color: white;
}
.navItem{
	width: 100%;
	height: 100%;
	line-height: 40px;
}
.bubbleL{
	border-radius: 25px 25px 25px 0px;
	float: left;
	display: inline-block;
	width: 25%;
	left: 100px;
	position: relative;
	height: auto;
	text-align: center;
	background-color: white;
	padding: 15px;
}
.bubbleL h1{
  background: -webkit-linear-gradient(225deg, rgb(153, 0, 255) 0%, rgb(255, 0, 255) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.bubbleL p{
font-size: 20px;
  background: -webkit-linear-gradient(225deg, rgb(153, 0, 255) 0%, rgb(255, 0, 255) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.bubbleR{
	border-radius: 25px 25px 0px 25px;
	float: right;
	border:5px solid white;
	display: inline-block;
	position: relative;
	width: 25%;
	top: 150px;
	right: 100px;
	min-height: 200px;
	height: auto;
	text-align: center;
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: white;
	padding: 15px;
}
#bubbleLogo{
	background-image: url("assets/images/logo.PNG");
}
#firstElement{
	margin-top: 80px;
}
.bubbleContainer{
	width: 100%;
	height: auto;
	min-height: 500px;
}
.mobileFirstElement{
	display: none;	
}
.button{
	border-radius: 25px;
	background-color: white;
	width: auto;
	height: auto;
	font-size: 150%;
	border:solid 5px white;
}
.button:hover{
	border-radius: 25px;
	background-color: linear-gradient(225deg, rgb(153, 0, 255) 0%, rgb(255, 0, 255) 100%);;
	width: auto;
	height: auto;
	font-size: 150%;
	border:solid 5px white;
}
#applyBtn{
	width: 35%;
}
#applyBtn h2{
	font-size: 150%;
  background: -webkit-linear-gradient(225deg, rgb(153, 0, 255) 0%, rgb(255, 0, 255) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#gameBtn{
	min-width: 50%;
	min-height: 100px;
}
#gameBtn h2{
	font-size: 150%;
  background: -webkit-linear-gradient(225deg, rgb(153, 0, 255) 0%, rgb(255, 0, 255) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#supportedGames{
	display: none;
	position: absolute;
	bottom: 10px;
	z-index: 199;
	background-color: rgba(0,0,0,0.9);
	width: 45vw;
	height: auto;
	min-height: 100px;
	border-radius: 15px;
	padding: 1vw;
	left: 27vw;
	text-align: center;
	border: 5px solid rgb(153,0,255);
}
.supportedGamesGame p {
	font-size: 15px;
}
.gameImg{
	width: 100%;
}
.supportedGamesGame{
	width: 9%;
	margin: 15px;
	text-align: center;
	display: inline-block;
}
.explainerBox{
	width: 80%;
	left: 10%;
	position: relative;
	text-align: center;
}
.explainerBoxP{
	width: 80%;
	left: 10%;
	position: relative;
	padding: 1.5%;
	line-height: 1.5;
	background-color: white;
	text-align: left;
}
.explainerBoxP p {
font-size: 20px;
  background: -webkit-linear-gradient(225deg, rgb(153, 0, 255) 0%, rgb(255, 0, 255) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.explainerBoxP iframe{
	position: relative;
	left: 10%;
	width: 80%;
}
#lastElement{
	margin-bottom:; 
}
#gWidgetNormal{
	display: inline;
}
#gWidgetSmall{
	display: none;
}
.firstElementS{
		display: none;
		margin-top: 22vh;
	}
@media screen and (max-width: 660px){
	.navImg{
		display: none;
	}
	.navLink{
		width: 100%;
		height: 29px;
	}
	.navItem{
		line-height: 29px;
	}
	#navbar{
		height: 20vh;
	}
	#bubbleContain1{
	position: relative;
	top:20vh;
	}
	#gWidgetNormal{
	display: none;
	}
	#gWidgetSmall{
	display: inline;
	}

}
@media screen and (max-width: 740px){
	.firstElementS{
	display: inline;	
	}
	.bubbleContainer{
	display: none;
}
}