@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
	margin: 0px;
	padding: 0px;
}
button{
	cursor: pointer;
}
body{
	background-color: rgb(10,10,10);
	overflow-x: hidden;
	color: white;
	height: auto;
	min-height: 100vh;
	text-align: center;
	font-family: "Poppins", serif;
	 -ms-overflow-style: none;
  	scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
nav{
	padding-left: 10vw;
	padding-right: 10vw;
	width: 80vw;
	background-color: rgba(0,0,0,0.3);
	text-align: center;
	height: 9vh;
	z-index: 255;
	position: fixed;
	min-height: 44px;

}
nav img{
	height: 100%;
	float: left;
}
nav button{
	margin-left: 2.5px;
	margin-right: 2.5px;
	width: auto;
	padding-left: 2.5%;padding-right: 2.5%;
	border: none;
	height: 50%;
	background-color: transparent;
	cursor: pointer;
	color: white;	
	font-family: "Poppins";
	position: relative;
	top: 25%;
	font-size: 15px;
	transition: 0.25s;
	border-bottom: solid transparent 3px;
}
nav .active{
	border-bottom: solid white 3px;
}
nav button:hover{
	border-bottom: solid white 3px;
}
.fullBodySegment{
	position: relative;
	width: 100vw;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100vh;
}
.fullBodySegment video{
	z-index: -1;
	position: absolute;
	bottom: 0;
	right: 0;
  object-fit: cover;
  object-position: 50% 50%;
}
.fullBodySegment .leftSide{
	position: absolute;
	background-color: rgba(0,0,0,0.2);
	bottom: 10%;
	width: 30%;
	max-height: 100%;
	left: 5%;
	text-align: left;
	padding:15px;
}
.fullBodySegment .rightSide{
	position: absolute;
	background-color: rgba(0,0,0,0.2);
	bottom: 10%;
	width: 30%;
	right: 5%;
	max-height: 100%;
	text-align: right;
	padding:15px;
}
.fullBodySegment div button{
	background-color: transparent;
	border:5px solid white;
	padding: 5px;
	color: white;
	font-family: "Poppins";
	width: 50%;
	height: 50px;
	font-size: 100%;
	transition: 0.5s;
}.fullBodySegment div button:hover{
	color: black;
	background-color: white;
}
#loginBTN{
	border-radius: 15px;
	border:2.5px solid white;
}
#loginBTN:hover{
	color: black;
	background-color: white;
}
footer{
	height: 50vh;
	background-color: black;
}
@media only screen and (max-width: 700px) {
  .fullBodySegment div{
  	width: calc(90% - 30px) !important;
  	text-align: center !important;
  }
}