@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

*{
	margin: 0px;
	padding: 0px;
	color: white;
	font-family: 'Amaranth';
}
html{
	overflow-x: hidden;
}
body{
	background-color: black;
	overflow-x: hidden;
	position: relative;
}
#nav{
	width: 90vw;
	height: 10vh;
	padding-left: 5vw;
	padding-right: 5vw;
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	
}
#navLinks{
	height: 10vh;
	display: inline-block;
	line-height: 10vh;
	margin-left: 5vw;
}
#nav img{
	height: 100%;
	float: left;
}
#navLinks h1{
	display: inline-block;	
	font-size: 3vh;
	margin-left: 2.5vw;
	margin-right: 2.5vw;
	transition: all ease-in-out 1s;
}
#navLinks h1:hover{
	text-decoration: underline;
}
.navActive{
	text-decoration: underline;
}
.homeArticle{
	z-index: 1;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
#home1{
	background-image: url(assets/images/background1.jpg);
}
#home2{
	background-image: url(assets/images/background2.png);
}
#launch1{
	background-image: url(assets/images/background5.png);
}
#launch2{
	background-image: url(assets/images/background6.png);
}
#about1{
	background-image: url(assets/images/background3.png);
}
#jobs1{
	background-image: url(assets/images/background4.jpg);
}
#home1 .homeArticleText{
	position: absolute;
	left: 4%;
	padding: 15px;
	bottom: 9%;
	text-align: center;
	border: solid 1px white;
	width: 30%;
	height: 25%;
	overflow-y: scroll;
	background-color: rgba(0,0,0,0.3);
}
#home2 .homeArticleText{
	position: absolute;
	right: 4%;
	padding: 15px;
	bottom: 9%;
	text-align: center;
	border: solid 1px white;
	width: 30%;
	height: 20%;
	overflow-y: scroll;
	background-color: rgba(0,0,0,0.3);
}
#launch1 .homeArticleText{
	position: absolute;
	left: 4%;
	padding: 15px;
	bottom: 9%;
	text-align: center;
	border: solid 1px white;
	width: 30%;
	height: 30%;
	overflow-y: scroll;
	background-color: rgba(0,0,0,0.3);
}
#launch2 .homeArticleText{
	position: absolute;
	left: 4%;
	padding: 15px;
	bottom: 9%;
	text-align: center;
	border: solid 1px white;
	width: 30%;
	height: 30%;
	overflow-y: scroll;
	background-color: rgba(0,0,0,0.3);
}
#about1 .homeArticleText{
	position: absolute;
	right: 32.5%;
	padding: 2.5%;
	bottom: 30%;
	text-align: center;
	border: solid 1px white;
	width: 30%;
	height: 30%;
	overflow-y: scroll;
	background-color: rgba(0,0,0,0.4);
}
#jobs1 .homeArticleText{
	position: absolute;
	left: 0;
	padding: 2.5%;
	top: 15%;
	text-align: center;
	border: solid 0.1vw white;
	width: 94.89%;
	height: 5%;
	overflow-y: scroll;
	background-color: rgba(0,0,0,0.4);
}
.homeArticleText button{
	padding: 15px;
	color: white;
	width: 75%;
	background-color: transparent;
	font-size: 30px;
	border: 1px solid white;
	transition: 0.5s;
}
.homeArticleText button:hover{
	background-color: white;
	color: black;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.homeArticleText::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.homeArticleText {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#mobNavButton{
	background-color: white;
	border: none;
	width: 50px;
	display: none;
	height: 50px;
	position: absolute;
	right: 50px;
	border-radius: 15px;
	top: 50px;
	z-index: 255;
}
#mobNavButton img{
	height: 75%;
	width: 75%;
}
#mobNav{
	height: 90vh;
	background-color: white;
	position: absolute;
	right: -101%;
	width: 90%;
	transition: ease-in-out 0.75s;
	z-index: 255;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 5vh;
	padding-bottom: 5vh;
}
#mobNav h2{
	color: black;
}
#mobNav ul{
	list-style-type: none;
}
#mobNav li{
	color: black;
	font-size: 20px;
	text-decoration: none;
	border: 1px solid black;
	width: auto;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}
#jobs{
	position: absolute;
	top: 30%;
	width: 100vw;
	height: 69vh;
	overflow-y: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
 	 scrollbar-width: none; 
}
#jobs::-webkit-scrollbar {
  display: none;
}
.jobsCard{
	width: 98%;
	position: relative;
	height: 50%;
	background-color: rgba(0,0,0,0.6);
	border: 0.1vw solid white;
	text-align: center;
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 25px;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
	overflow-y: scroll;
}
.jobsCard h1{
	font-size: 45px;
}
.jobsCard p{
	overflow-y: scroll;
	height: 50%;
	font-size: 20px;
}
.jobsCard p::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.jobsCard p {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.jobsCard button{
	width: 70%;
	height: 20%;
	position: absolute;
	left: 14.5%;
	bottom: 15px;
	border: 1px solid white;
	color: white;
	font-size: 150%;
	transition: 0.5s;
	background-color: transparent;
}
.jobsCard button:hover{
	background-color: white;
	border: 1.5px solid rgb(0,0,0);
	color: black;
}
.jobsCard::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.jobsCard {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
@media only screen and (max-width: 700px) {
  #mobNavButton{
    display: block;
  }
  #nav{
  	display: none;
  }
  .homeArticleText{
  	width: calc(92% - 30px) !important;
  }
}